@keyframes fadeIn {
    0% {
      opacity: 0
    }
  
      100% {
          opacity: 1;
      }
  }
  
  @keyframes slideBottom {
    0% {
      transform: translate(-50%, -20%);
      opacity: 0;
    }
  
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }