$color-text-white: #efefee;
$color-text-white-2: #efefcc;

$color-primary: #dba73e;

$color-secondary-light: #ff5e57;
$color-secondary-dark: #e35e58;
$color-secondary-dark-2: darken(#e35e58, 5%);

$color-tertiary-light: #575fcf;
$color-tertiary-dark: #3c40c6;

$color-dark: #1e272e;