.portfolio-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    padding: 10rem 3rem;

    @include respond(phone) {
        padding: 5rem 3rem;
    }

    &__description {
        flex-basis: 36%;

        @include respond(tab-port) {
            flex-basis: 49%;
        }

        @include respond(phone) {
            flex-basis: 100%;
            text-align: center;
            order: 2;
        }
    }

    &__figure {
        flex-basis: 63%;
        text-align: right;

        @include respond(tab-port) {
            flex-basis: 49%;
            text-align: center;
        }

        @include respond(phone) {
            flex-basis: 100%;
            order: 1;

            //margin-top: -3rem;
            margin-bottom: 1.2rem;
        }
    }

    &__img {
        width: 90%;

        @include respond(phone) {
            width: 100%;
        }
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-dark;
        letter-spacing: 1px;
        text-shadow: 0 1px 1rem rgba(0,0,0, .1);

        @include respond(big-desktop) {
            font-size: 3rem;
        }
    }

    &__divider {
        width: 15rem;
        color: #cfcfcf;
        margin: 1.6rem 0 3rem 0;

        @include respond(big-desktop) {
            margin: 1.6rem 0 4rem 0;
        }
        
        @include respond(tab-land) {
            margin: 1.3rem 0 2.2rem 0;
        }

        @include respond(phone) {
            margin: 1.3rem auto 2.2rem auto;
        }
    }

    &__text {
        color: $color-dark;
        font-weight: 300;
        font-size: 1.7rem;

        @include respond(big-desktop) {
            font-size: 1.8rem;
        }
    }

    &__tags {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin: 2.2rem 0 .8rem -1rem;

        @include respond(big-desktop) {
            margin: 3.2rem 0 3.2rem -1rem;
        }

        @include respond(tab-land) {
            margin: 1.6rem 0 .8rem -1rem;
        }

        @include respond(phone) {
            margin: 1.2rem auto 0rem auto;
            justify-content: center;
        }
    }

    &__item {
        background-color: $color-secondary-light;
        padding: .5rem .8rem;
        color: $color-text-white;
        border-radius: 3px;
        margin: .7rem .6rem;
        font-size: 1.7rem;
        transition: .1s all;
        box-shadow: 1px 1px 1rem rgba(0,0,0, .1);

        @include respond(big-desktop) {
            padding: .7rem 1.4rem;
            margin: .7rem 1rem;
            font-size: 1.8rem;
        }

        &:hover {
            transform: scale(1.04);
        }
    }
}

.portfolio-item:not(:last-of-type) {
    border-bottom: 1px solid #cfcfcf; 
}

.portfolio-item:last-of-type {
    @include respond(phone) {
        margin-bottom: 6rem;
    }
}