.project-item {
    display: flex;
    flex-direction: column;
    background-color: $color-text-white;
    padding: 1.4rem;
    padding-bottom:1.8rem;
    border-radius: 3px;
    transform: translateY(0);
    transition: .1s all ease-out;
    box-shadow: .1rem .3rem 1.6rem rgba(0,0,0, .16);

    @include respond(tab-port) {
        margin: 1.2rem 0;
    }

    @include respond(big-desktop) {
        padding: 2rem;
        padding-bottom: 3rem;
    }

    &__figure {
        height: 18rem;
        overflow: hidden;
        border-radius: 1px;

        @include respond(big-desktop) {
            height: 25rem;
            
        }

        @include respond(tab-land) {
            height: 15rem;
        }
    }

    &__img {
        width: 100%;
        border-radius: 3px;
    }

    &__content {
        text-align: center;
        margin-top: 1.4rem;

        @include respond(big-desktop) {
            margin-top: 2rem;
        }
    }

    &__title {
        color: $color-dark;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 1px;
        margin-bottom: .8rem;
        text-shadow: 0 1px .5rem rgba(0,0,0, .1);

        @include respond(big-desktop) {
            font-size: 2.3rem;
            margin-bottom: 1.2rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1.4rem;
        margin-top: 1rem;

        @include respond(big-desktop) {
            margin-bottom: 2.4rem;
            margin-top: 1.6rem;
        }
    }

    &__item {
        background-color: $color-tertiary-light;
        padding: .5rem .8rem;
        color: $color-text-white;
        border-radius: 3px;
        margin: .4rem .5rem;
        font-size: 1.5rem;
    }

    &__desc {
        color: $color-dark;
        font-weight: 300;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        min-height: 2rem;

        @include respond(big-desktop) {
            min-height: 9rem;
        }
    }

    &:hover {
        transform: translateY(-.5rem) scale(1.01);
    }

    .btn {
        margin: .5rem;
    }
}