.row-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        padding: .7rem 1.4rem;
        margin: .7rem 1rem;
        font-size: 1.6rem;

        @include respond(big-desktop) {
            font-size: 1.8rem;
        }

        @include respond(tab-port) {
            margin: .3rem .8rem;
        }

        @include respond(phone-sm) {
            padding: 0rem .8rem;
            margin: 0rem .8rem;
        }
    }
}